<%= semantic_form_for [:admin, @proposal] do |f| %>

<%= f.inputs "Details" do %>
	<div id="proposal_fields">
    <div class="form_header">
      <div class="form_header_left">
		    <ol>
          <li>
            <label class="label">Proposal No.</label>
            <% if f.object.new_record? %>
              <input class="plain" readonly="true" id="proposal_number" name="proposal[number]" value="<%= f.object.next_id %>">
            <% else %>
              <input class="plain" readonly="true" id="proposal_number" name="proposal[number]" value="<%= f.object.number %>">
            <% end %>
          </li>
          <li>
            <label class="label">Client No.</label>
            <input class="plain" readonly="true" id="proposal_clients_number" name="client[number]" value="-">
          </li>
          <%= f.input :est_method, :label => "Est. Method" %>
          <li></li>
          <!-- <li>
            <label class="label" for="location_number">Locations (#):</label>  
            <input type="text" id="location_number" class="mini" name="location_number" size="2" maxlength="3" />
          </li> -->
        </ol>
      </div>
      <div class="form_header_right">
        <ol>
          <li>
            <label class="label">Date Written</label>
            <input class="plain" disabled="disabled" id="proposal_created_at" name="proposal[created_at]" value="<%= Date.today.strftime("%B %d, %Y") %>">
          </li>
			    <%= f.input :decision_date, :label => "Decision Date", :as => :string, :input_html => { :class => "datepicker" } %>
          <%= f.input :status, :as => :select, :collection => ["Pending", "Accepted", "Declined"], :include_blank => false %>
        </ol>
      </div> 
    </div>

    <div class="hr"><hr width="50" /></div>

    <div class="proposal_middle">
      <div class="client_radio">
        <ol>
          <li>
            <label class="client_label">Client:</label>
            <% if f.object.new_record? %>
              <input type="radio" name="client_record" value="new" /><span class="radio_label">New</span>
            <% end %>
            <% if f.object.new_record? && !params[:proposal] %>
              <input type="radio" name="client_record" value="existing" /><span class="radio_label">Existing</span>
              <%= f.input :client, :label => false, :as => :select, :collection => Client.all.collect{|c| [c.name, c.id]}, :input_html => {:class => "client_list", :disabled => "disabled"} %>
            <% else %>
              <input type="radio" name="client_record" value="existing" checked="checked" /><span class="radio_label">Existing</span>
              <%= f.input :client, :label => false, :as => :select, :collection => Client.all.collect{|c| [c.name, c.id]}, :input_html => {:class => "client_list"} %>
            <% end %>
          </li>
        </ol>
      </div>
    </div>

    <div class="form_footer" <% if f.object.new_record? %>style="display: none"<% end %>>
      <ol>
        <%= f.input :customer_type, :label => "Customer Type", :as => :select, :collection => ["Residential", "Commercial", "Government", "General Contractor"], :include_blank => false %>
        <%= f.input :employee, :label => "Salesperson", :as => :select, :collection => Employee.where("department_id = 2").collect{|e| [e.name, e.id]}, :required => true %>
		  </ol>
    </div>
	</div>
<% end %>




<%= f.buttons :commit %>
<% end %>

<script src="/assets/proposal_form.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
  if(!$("select.client_list").attr('disabled')) {
    createClientInfoGrid();
    showFooter();
    ajaxCalls("client_info", $("select.client_list").val());
  }
});    
</script>
