<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
<% amount = 0 %>
<div id="document" class="proposal_pdf">
  <div class="header">
    <div class="left">
      <div class="labels">
        <ul>
          <li>
            <label>Proposal No.</label>
          </li>
          <li>
            <label>Client Name</label>
          </li>
          <li>
            <label>Est. Method</label>
          </li>
        <ul>
      </div>
      <div class="inputs">
        <ul>
          <li>
            <%= @proposal.number %>
          </li>
          <li>
            <%= @proposal.client.name %>
          </li>
          <li>
            <%= @proposal.est_method %>
          </li>
        <ul>
      </div>
    </div>
    <div class="right">
      <div class="labels">
        <ul>
          <li>
            <label>Date Written</label>
          </li>
          <li>
            <label>Status</label>
          </li>
          <li>
            <label>Decision Date</label>
          </li>
        <ul>
      </div>
      <div class="inputs">
        <ul>
          <li>
            <%= @proposal.created_at.strftime("%B %d, %Y") %>
          </li>
          <li>
            <%= @proposal.status %>
          </li>
          <li>
            <%= !@proposal.decision_date.nil? ? @proposal.decision_date.strftime("%B %d, %Y") : " " %>
          </li>
        <ul>
      </div>
    </div>
  </div>

  <div class="billing">
    <div class="labels">
      <ul>
        <li>
          <label>Billing Address</label>
        </li>
        <li>
          <label>Name</label>
        </li>
        <li>
          <label>Address</label>
        </li>
      <ul>
    </div>
    <div class="inputs">
      <ul>
        <li>&nbsp;</li>
        <li>
          <%= !@proposal.client.billing_name.empty? ? @proposal.client.billing_name : "" %>&nbsp;
        </li>
        <li>
          <%= @proposal.client.billing_address %>
        </li>
        <li>
          <%= "#{@proposal.client.city}, #{@proposal.client.state} #{@proposal.client.zip}"  %>
        </li>
      <ul>
    </div>
  </div>

  <div class="location_num">
    <div class="labels">
      <ul>
        <li>
          <label>Locations:</label>
        </li>
      <ul>
    </div>
    <div class="inputs">
      <ul>
        <li>
          <%= @proposal.locations.count %>
        </li>
      <ul>
    </div>
  </div>

  <div class="tasks">
    <!-- Tasks Table -->
    <table>
      <tr>
        <th class="first">Task</th>
        <th>Square Feet</th>
        <th>Price/SqFt</th>
        <th class="last">Amount</th>
      </tr>
      <% @proposal.locations.each do |location| %>
        <% location.tasks.each do |task| %>
          <tr>
            <td class="first"><%= task.title.titleize %></td>
            <td><%= task.sqft %></td>
            <td><%= number_to_currency(task.price_per_sqft) %></td>
            <td class="last"><%= number_to_currency(task.sqft * task.price_per_sqft) %></td>
            <% amount = amount + (task.sqft * task.price_per_sqft) %>
          </tr>
        <% end %>
      <% end %>
      <tr height="30"></tr>
      <tr>
        <td class="first">Total Before Tax</td>
        <td></td>
        <td></td>
        <td class="last"><%= number_to_currency(amount) %></td>
      </tr>
      <tr>
        <td class="first">Tax (8.2%)</td>
        <td></td>
        <td></td>
        <td class="last"><%= number_to_currency(amount*0.082) %></td>
      </tr>
      <tr>
        <td class="first"><b>Total</b></td>
        <td></td>
        <td></td>
        <td class="last"><b><%= number_to_currency(amount+(amount*0.082)) %></b></td>
      </tr>
    </table>
  </div>

  <div class="customer_type">
    <div class="labels">
      <ul style="margin-top: 0;">
        <li>
          <label>Customer Type</label>
        </li>
      <ul>
    </div>
    <div class="inputs types">
      <div class="type">General Contractor <%= raw @proposal.customer_type == "General Contractor" ? "<b>(X)</b>" : ""  %></div>
      <div class="type">Commercial <%= raw @proposal.customer_type == "Commercial" ? "<b>(X)</b>" : " "  %></div>
      <div class="type">Government <%= raw @proposal.customer_type == "Government" ? "<b>(X)</b>" : " "  %></div>
      <div class="type">Residential <%= raw @proposal.customer_type == "Residential" ? "<b>(X)</b>" : " "  %></div>
    </div>
  </div>

  <div class="salesperson">
    <div class="labels">
      <ul>
        <li>
          <label>Salesperson</label>
        </li>
      <ul>
    </div>
    <div class="inputs">
      <ul>
        <li>
          <%= @proposal.employee.name %>
        </li>
      <ul>
    </div>
  </div>
</div>
