<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
<% amount = 0 %>
<div id="document" class="assignment_pdf">
  <div class="header">
    <div class="left">
      <div class="labels" style="width: 150px;">
        <ul>
          <li>
            <label>Invoice No.</label>
          </li>
          <li>
            <label>Proposal No.</label>
          </li>
          <li>
            <label>Start Date</label>
          </li>
        <ul>
      </div>
      <div class="inputs">
        <ul>
          <li>
            <%= @invoice.number %>
          </li>
          <li>
            <%= @work_orders[0].proposal.number %>
          </li>
          <li>
            <%= @invoice.start_date.strftime("%B %d, %Y") %>
          </li>
        <ul>
      </div>
    </div>
    <div class="right">
      <div class="labels">
        <ul>
          <li>
            <label>Date</label>
          </li>
          <li>
            <label>&nbsp;</label>
          </li>
          <li>
            <label>Finish Date</label>
          </li>
        <ul>
      </div>
      <div class="inputs">
        <ul>
          <li>
            <%= @invoice.created_at.strftime("%B %d, %Y") %>
          </li>
          <li>&nbsp;</li>
          <li>
            <%= @invoice.end_date.nil? ? "--" : @invoice.end_date.strftime("%B %d, %Y") %>
          </li>
        <ul>
      </div>
    </div>
  </div>


  <div class="work_order_tasks">
    <!-- Tasks Table -->
    <table>
      <tr>
        <th class="first">Task</th>
        <th>Location</th>
        <th>Amount</th>
        <th class="last">Date Complete</th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td class="first"><%= task.title.titleize %></td>
          <td class="first"><%= task.location.name %></td>
          <td class="last"><%= number_to_currency(task.sqft * task.price_per_sqft) %></td>
          <td class="last"><%= task.date_completed.strftime("%B %d, %Y") %></td>
        </tr>
          <% amount = amount + (task.sqft * task.price_per_sqft) %>
      <% end %>
      <tr height="30"></tr>
      <tr>
        <td></td>
        <td class="first">Total Before Tax</td>
        <td class="last"><%= number_to_currency(amount) %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="first">Tax (8.2%)</td>
        <td class="last"><%= number_to_currency(amount*0.082) %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="first"><b>Final Total</b></td>
        <td class="last"><b><%= number_to_currency(amount+(amount*0.082)) %></b></td>
        <td></td>
      </tr>


    </table>
  </div>
