<%= semantic_form_for [:admin, @assignment] do |f| %>

<%= f.inputs "Details" do %>
	<div id="assignment_fields">
    <div class="form_header">
      <div class="form_header_left">
		    <ol>
          <li>
            <label class="label">Assignment No.</label>
            <% if f.object.new_record? %>
              <input class="plain" readonly="true" id="assignment_number" name="assignment[number]" value="<%= f.object.next_id %>">
            <% else %>
              <input class="plain" readonly="true" id="assignment_number" name="assignment[number]" value="<%= f.object.number %>">
            <% end %>
          </li>
          <%= f.input :work_order, :label => "Work Order No.", :as => :select, :collection => WorkOrder.all.collect{|wo| [wo.number, wo.id]}, :input_html => {:class => 'work_order_list', :style => 'width: 117px'} %>
        </ol>
      </div>
      <div class="form_header_right">
        <ol>
          <%= f.input :start_date, :label => "Start Date", :as => :string, :input_html => {:class => "datepicker"} %>
          <% if f.object.new_record? %>
            <%= f.input :end_date, :label => "Finish Date", :as => :string, :input_html => {:class => "datepicker", :disabled => 'disabled'} %>
          <% else %>
            <%= f.input :end_date, :label => "Finish Date", :as => :string, :input_html => {:class => "datepicker"} %>
          <% end %>
        </ol>
      </div> 
    </div>

    <div class="assignment_middle" <% if f.object.new_record? %>style="display: none"<% end %>>
      <div class="location_information">
        <!-- entered through ajax -->
      </div>
      <ol>
        <%= f.input :employee, :label => "Supervisor", :as => :select, :collection => Employee.where("department_id = 3").collect{|e| [e.name, e.id]}, :required => true, :input_html => {:style => "margin-right: 50px"} %>
        <%= f.input :vehicle_id, :label => "Vehicle", :as => :select, :collection => Vehicle.where("checked_out = ?", false).order('vehicles.make').collect{|v| ["#{v.make} #{v.model} (#{v.year})", v.id]} %>
		  </ol>
    </div>

    <div class="form_footer" <% if f.object.new_record? %>style="display: none"<% end %>>
      <ol style="clear: both">
        <% if f.object.new_record? %>
          <%= f.input :created_by, :label => "Authorized By:", :input_html => {:class => 'plain', :value => current_employee.name, :readonly => true} %>
          <%= f.input :created_at, :label => "Authorized Date:", :as => :string, :input_html => {:class => 'plain datepicker', :value => Date.today.strftime('%B %d, %Y'), :disabled => true} %>
        <% else %>
          <%= f.input :created_by, :label => "Authorized By:", :input_html => {:class => 'plain', :value => Employee.find(f.object.created_by).name, :readonly => true} %>
          <%= f.input :created_at, :label => "Authorized Date:", :as => :string, :input_html => {:class => 'plain datepicker', :value => f.object.created_at.strftime('%B %d, %Y'), :disabled => true} %>
        <% end %>
      </ol>
    </div>
	</div>
<% end %>

<!-- materials -->
	<%= f.semantic_fields_for :material_assignments do |ma| %>
    <fieldset class="material_assignments inputs">
      <legend><span>Materials</span></legend>
      <% if !f.object.new_record? %>
        <div class="materials_grid">
          <ol class="material_assignment_labels">
            <li><label class="label">Task<abbr title="required">*</abbr></label></li>
            <li><label class="label">Material<abbr title="required">*</abbr></label></li>
            <li><label class="label">Qty Sent<abbr title="required">*</abbr></label></li>
            <li><label class="label">Qty Used</label></li>
          </ol>
          <ol id="material_assignment_0">
            <%= ma.input :task, :label => false %>
            <%= ma.input :material, :label => false %>
            <%= ma.input :qty_sent, :label => false %>
            <%= ma.input :qty_used, :label => false %>
          </ol>

          <div class="add_material_assignment">
            <a class="button material_assignment_button" onclick="addMaterial(<%= f.object.material_assignments.count %>);">Add</a>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

<!-- labor -->
	<%= f.semantic_fields_for :labor_assignments do |la| %>
    <fieldset class="labor_assignments inputs">
      <legend><span>Labor</span></legend>
      <% if !f.object.new_record? %>
        <div class="labor_grid">
          <ol class="labor_assignment_labels">
            <li><label class="label">Task<abbr title="required">*</abbr></label></li>
            <li><label class="label">Employee<abbr title="required">*</abbr></label></li>
            <li><label class="label">Rate<abbr title="required">*</abbr></label></li>
            <li><label class="label">Est. Hours<abbr title="required">*</abbr></label></li>
            <li><label class="label">Hrs Used</label></li>
          </ol>
          <ol id="labor_assignment_0">
            <%= la.input :task, :label => false %>
            <%= la.input :employee, :label => false %>
            <%= la.input :rate, :label => false %>
            <%= la.input :est_hours, :label => false %>
            <%= la.input :used_hours, :label => false %>
          </ol>

          <div class="add_labor_assignment">
            <a class="button labor_assignment_button" onclick="addLabor(<%= f.object.labor_assignments.count %>);">Add</a>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

 
<%= f.buttons :commit %>

<% end %>

<script src="/assets/assignment_form.js" type="text/javascript"></script>
