<%= semantic_form_for [:admin, @work_order] do |f| %>

<%= f.inputs "Details" do %>
	<div id="wo_fields">
    <div class="form_header">
      <div class="form_header_left">
		    <ol>
          <li>
            <label class="label" style="width: 117px">Work Order No.</label>
            <% if f.object.new_record? %>
              <input class="plain" readonly="true" id="work_order_number" name="work_order[number]" value="<%= f.object.next_id %>">
            <% else %>
              <input class="plain" readonly="true" id="work_order_number" name="work_order[number]" value="<%= f.object.number %>">
            <% end %>
          </li>
          <%= f.input :proposal, :label => "Proposal No.", :as => :select, :collection => Proposal.where("status = ?", "Accepted").collect{|p| [p.number, p.id]}, :input_html => {:class => 'proposal_list'} %>
        </ol>
      </div>
      <div class="form_header_right">
        <ol>
          <li>
            <label class="label">Date</label>
            <input class="plain" disabled="disabled" id="proposal_created_at" name="proposal[created_at]" value="<%= Date.today.strftime("%B %d, %Y") %>">
          </li>
          <li>
            <label class="label">Type<abbr title="required">*</abbr></label>
            <% if f.object.new_record? %>
              <input type="radio" name="work_order[level]" value="Primary" /><span class="radio_label">Primary</span>
              <input type="radio" name="work_order[level]" value="Secondary" /><span class="radio_label">Secondary</span>
            <% else %>
              <input type="radio" name="work_order[level]" value="Primary" <% if f.object.level == "Primary" %>checked="checked"<% end %> /><span class="radio_label">Primary</span>
              <input type="radio" name="work_order[level]" value="Secondary" <% if f.object.level == "Secondary" %>checked="checked"<% end %>/><span class="radio_label">Secondary</span>
            <% end %>
          </li>
        </ol>
      </div> 
    </div>

    <div class="wo_middle" <% if f.object.new_record? %>style="display: none"<% end %>>
      <div class="location_information">
        <ol>
          <li>
            <label class="label" for="work_order_location_id">Location<abbr title="required">*</abbr></label>
            <select id="work_order_location_id" class="location_list" name="work_order[location_id]"></select>
          </li>
        </ol>
      </div>
      <div class="notes_box">
        <ol>
          <%= f.input :notes, :input_html => {:rows => 6, :cols => 20} %>
        </ol>
      </div>
    </div>

    <div class="form_footer" <% if f.object.new_record? %>style="display: none"<% end %>>
      <ol>
        <%= f.input :employee, :label => "Manager", :as => :select, :collection => Employee.where("department_id = 1").collect{|e| [e.name, e.id]}, :required => true %>
        <%= f.input :date_required, :label => "Date Required", :as => :string, :input_html => { :class => "datepicker" } %>
		  </ol>
    </div>
	</div>
<% end %>

<!-- tasks container (ajax) -->
 
<%= f.buttons :commit %>

  <!-- script for 'edit' form -->
  <script type="text/javascript">
  $(document).ready(function(){
    if($("select.proposal_list option:selected").val().length) {
      ajaxCalls("location_list", $("select.proposal_list option:selected").val(), 'edit');
    }
  });    

  function setLocation(){
    $('#work_order_location_id').val(<%= f.object.location_id %>);
  }
  </script>

<% end %>

<script src="/assets/work_order_form.js" type="text/javascript"></script>
